.form {
    margin-top: -1.6875rem;
    display: flex;
    justify-content: center;
    gap: 8px;
    
}

.form > input {
    width: 39.875rem;
    height: 3.375rem;
    background: var(--gray-500);
    color: var(--gray-300);
    border: none;
    border-radius: 8px;
    padding: 16px

}

.form > button {
    background: var(--blue-600);
    color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border: none;
    border-radius: 8px
}